<%if @tag %>
  <% tag = "&tag=#{@tag}" %>
<%else %>
  <% tag ='' %>
<%end %>
<nav aria-label="Page navigation">
  <ul class="pagination  pagination-sm">
    <li><%# -10 Page %>
        <%= link_to vehicles_path + "?page=#{@current_page - 10 > 0 ? @current_page -10 : 1}#{tag}", :"aria-label" => "Previous" do %>
          <span aria-hidden="true">&laquo;</span>
        <%end %>
    </li>
    <li><%# Previous Page %>
      <% if @current_page > 1 %>
        <%= link_to vehicles_path + "?page=#{@current_page-1}#{tag}", :"aria-label" => "Previous" do %>
          <span aria-hidden="true">&lsaquo;</span>
        <%end %>
      <%else %>
        <span aria-hidden="true">&lsaquo;</span>
      <%end %>
    </li>
    <%# Smart Pager %>
    <%
      numbers = []
      if @pages_count <= 8
        numbers = 1..@pages_count
      else
        if @current_page <= 3
          numbers += (1..6).to_a
          numbers << '&hellip;'
          numbers  << @pages_count
        else
          if @current_page < @pages_count - 7
            p_start = @current_page - 2
            p_end = @current_page + 3
            numbers += (p_start..p_end).to_a
            numbers << '&hellip;'
            numbers  << @pages_count
          else
            p_start = @pages_count - 7
            p_end = @pages_count
            numbers += (p_start..p_end).to_a
          end
        end
      end
      # debugger
     %>
    <% numbers.each_with_index do |n,p| %><%# TODO выводить только 5 номеров страниц, затем троеточие и последнюю %>
      <li <%='class=active' if n == @current_page %> >
        <%if n.to_i > 0 %>
        <%= link_to "#{n}".html_safe, vehicles_path + "?page=#{n}#{tag}" %>
        <%else %>
          <span aria-hidden="true">&hellip;</span>
        <%end %>
      </li>
    <% end %>
    <li><%# Next Page %>
      <% if @current_page < @pages_count %>
      <%= link_to vehicles_path + "?page=#{@current_page+1}#{tag}", :"aria-label" => "Next" do %>
        <span aria-hidden="true">&rsaquo;</span>
      <%end %>
      <%else %>
        <span aria-hidden="true">&rsaquo;</span>
      <%end %>
    </li>
    <li><%# +10 Page %>
      <%= link_to vehicles_path + "?page=#{@current_page + 10 <= @pages_count ? @current_page + 10 : @pages_count }#{tag}", :"aria-label" => "Previous" do %>
        <span aria-hidden="true">&raquo;</span>
      <%end %>
    </li>
  </ul>
</nav>