  <h2>Vehicle tags - add and remove</h2>
  <%= draw_tags @vehicle.tags%> <%# теги конкретной машины %>
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <div class="card" style="width: 100%; max-width: 32rem">
        <img src="<%= "/#{@vehicle.img_url}" %>" class="card-img-top" alt="car image">
        <div class="card-body">
          <h5 class="card-title">Vehicle details</h5>
          <p class="card-text">
            description: <%= @vehicle.description  || 'not defined' %>
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">model: <%= @vehicle.model || 'not defined' %></li>
          <li class="list-group-item">year: <%= @vehicle.year  || 'not defined' %></li>
        </ul>
      </div>
    </div>
    <div class="col mb-4">
      <% vehicle_tags_ids = @vehicle.tags.map {|t| t.id} # id-шники тегов машины %>
      <%= form_for :tag, url: vehicle_update_tags_path, method: :patch, html: { class: "bla-bla", id: "bla-bla" } do |f|  %>

        <%# рисуем теги с чекбоксами %>
        <% @tags.each do |tag| %>
          <div class="tag-checkbox" style="background-color: <%= tag.bg_color %>" >
            <span class="tag" style="background-color: <%= tag.bg_color %>; color: <%= tag.font_color %>" ><%= tag.tag_name %></span>
            <%= check_box_tag "update_tags[]", tag.id, vehicle_tags_ids.include?(tag.id) %><%# checked для тегов которые уже есть %>
          </div>
        <% end %>

        <br style="clear: both"><%# отмена флоата%>

        <%= f.submit 'Update tags', class: "btn btn-danger" %>
      <%end %>
      <%=link_to 'Back', :back, class: "btn btn-info" %>
    </div>
  </div>


