<%#= render 'tags/tags' %>
<%= draw_tags @tags %>
<%= render 'vehicles/pager' %>

<div class="container">
  <div class="grid-container">
    <%# отображение одной страницы из пейджинга %>
    <%  (@from..@to).each do |vehicle_id| %>
      <div class='grid-item'>
        <a href="<%= vehicle_path(@vehicles[vehicle_id]) %>">
        <img class='item-image' src="<%= @vehicles[vehicle_id].img_url %>" alt=''>
        </a>
        <div class='item-description'>
          <div>id: <%= @vehicles[vehicle_id].id %></div>
          <div>model: <%= @vehicles[vehicle_id].model  || 'not defined' %></div>
          <div>year: <%= @vehicles[vehicle_id].year  || 'not defined' %></div>
          <br>
          <%# теги машины %>
          <%# default_color = '#999999' %>
          <%# @vehicles[vehicle_id].tags.each do |tag| %>
            <%#= draw_tag tag %>
          <%# end %>
          <%= draw_tags @vehicles[vehicle_id].tags %>
          <br><br>
          <button><%=link_to 'show', vehicle_path(@vehicles[vehicle_id]) %></button>
          <button><%=link_to 'edit', edit_vehicle_path(@vehicles[vehicle_id]) %></button>
          <button><%=link_to 'edit tags', vehicle_edit_tags_path(@vehicles[vehicle_id]) %></button>
        </div>
      </div>
    <% end %>
  </div>

</div>

<%= render 'vehicles/pager' %>
<span>vehicles count = <%= @vehicles.count %></span>
