<%= render 'vehicles/pager' %>

<div class="row">
  <%  @vehicles.each do |vehicle| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="<%= vehicle.img_url %>" alt="car image">
      <div class="caption">
        <h3>model: <%= vehicle.model  || 'not defined' %></h3>
        <p>
          <%= draw_tags vehicle.tags %>
        </p>
        <p>
          <%=link_to 'Details', vehicle_path(vehicle.id), class: "btn btn-info" %>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>

<%= render 'vehicles/pager' %>

